@charset "utf-8";

/* CSS Document */
@media (max-width: 1199px) {
.navbar-light .navbar-nav .nav-link {
	padding: 0 14px;
	font-size: 11px;
}
}

@media (max-width: 991px) {
.top-nav {
	text-align: left;
}
.top-nav ul li {
	margin-left: 0px;
	margin-right: 20px;
}
.navbar {
	background-color: #197b30;
	padding: 0 10px;
}
.navbar .navbar-brand {
	display: block;
	color: #fff;
}
.navbar-light .navbar-toggler {
	border: none;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	border-bottom: 1px solid #1e9239;
	border-top: 1px solid #156528;
	padding: 7px 10px;
}
.navbar-light .navbar-nav .work-with-us .nav-link {
	color: #fff;
	border-left: none;
}
.introTitle h2 {
	text-align: center;
}
.introTitle { width: 100%;}
.introContent .btn { margin: 15px auto;}
}

@media (max-width: 767px) {
h1.logo {
	text-align: center;
	display: block;
	width: auto;
}
h1.logo a {
	display: block;
}
h1.logo a img {
	margin: 0 auto;
}
.top-nav {
	text-align: left;
}
.top-nav ul li {
	margin: 0
}
.top-nav ul li a:before {
	margin: 0
}
.top-head {
	display: none;
}
.service .col-sm-4, .service .col-md-4 {
	width: 100%;
	display: block;
	flex: 100%;
	max-width: inherit;
}
.service-list .iconImg {
	float: left !important;
	margin: 0;
}
.touchPhone {
	display: none;
}
.title h2, .title, .sub-title {
	text-align: center;
	margin-bottom: 15px;
}
.service-list figure figcaption h3 {
	font-size: 16px;
}
.introTitle h2 span {
	font-size: 20px;
}
.introTitle h2 {
	font-size: 30px;
}
.secondary_img { position: static;}
footer .top-footer h3 {
    margin-bottom: 15px;
} 
.top-footer ul.social_media {
    float: none !important;
}
footer { text-align: center;}
}

@media (max-width: 575px) {
.introContent {
	position: static;
	text-align: center;
	margin-top: 20px;
}
.skill ul li {
	display: block;
	margin: 10px auto;
}
.skill ul li:first-child {
	margin-left: auto;
}
.skill ul li:last-child {
	margin-right: auto;
}
#filters .button {
	width: auto;
	margin: 0 0 15px 0;
	font-size: 10px;
	padding: 6px 5px;
}
.lead { font-size: 15px;}
}
