*{
    margin: 0 auto;
    padding: 0;
    
}
body{
    overflow-x: hidden;

}

/*menu and logo*/
.menu{
    position: fixed;
	color: #FFFFFF;
	margin-left: -15px;
    z-index: 1;

}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: monospace;
    margin-left: 15px;
}
.logo{
    margin-bottom: 30px;
}
.icon ul{
    margin-top: 250px;
}

.icon-bar{
    background-color: red;
    border-color: deepskyblue;
}
#home{
    margin-left: -6px;
}
/*social media*/
.icon{
    margin-top: 50px;
    margin-left: 30px;
    position: fixed;
}
.icon ul li{
    list-style: none; 
    padding: 3px;
}
.icon ul li a{
    color: black
}
.icon ul li:hover a{
    color: blue;
   
}
.hwd191{
    border:2px ridge white;
    border-radius: 10px;
    height: 239px;
    color: orangered;
}
.hwd191 h5{
    color: black;
    font-weight: bold;
}
.hwd191 p{
    color: black;   
}
.hwd19{
   border:2px ridge white;
   border-radius: 10px;
   margin-left: 47px;
   height: 239px;
   color: orangered;
}
.hwd19 h5{
    color: black;
    font-weight: bold;
}
.hwd19 p{
    color: black;   
}

/*who we are*/

.wwr h1{
    text-align: center;
    color: orangered;
    font-weight: 600;
    margin-top: 80px;
}
.wwr:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 4000px;
    left: -123px;
    position: absolute;
    top: 0;
    width: 15px;
}

/*services*/

.third1{
    background: black url(image/5.jpg);
    margin-top: 50px;
    background-size: cover;
    text-overflow: ellipsis;  
    position: relative;
}
.covl{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: .6;
    
}

.third h1{
    text-align: center;
    color: orangered;
    margin-bottom: 30px;
    z-index: 1;

}
.third ul li{
    list-style: none;
    padding-bottom: 30px;
}
.third ul li a {
    text-decoration: none;
    color: white;
}
.third ul li a p{
    color: lightsteelblue;
    z-index: 1;
}
.third ul li a h5{
    font-size: 17px;
}
/*how we do*/
.hwd{
    margin-top: 50px; 
}
.hwd h1{
    text-align: center;
    color: orangered;
    font-weight: 600;
    padding-bottom: 40px;
}
.fourth h5{
    font-weight: bolder;
}


/*PORTFOLIO*/
.op{
    background-color:lightgray;
    margin-top: 50px;
    height: 352px;
}
.hd h1{
    text-align: center;
    color: orangered;
    font-weight: 600;
    margin-bottom: 20px;
}

#portfolio1{
    background-color: white; 
    border: 2px solid white;
    height: 239px;
    width: 14%;
    border-radius: 10px;
}

#portfolio2{
    background-color: white; 
    border: 2px solid white;
    height: 239px;
    width: 14%;
    border-radius: 10px;
}

#portfolio3{
    background-color: white; 
    border: 2px solid white;
    height: 239px;
    width: 14%;
    border-radius: 10px;
}

#portfolio4{
    background-color: white; 
    border: 2px solid white;
    height: 239px;
    width: 14%;
    border-radius: 10px;
}
/*Our team*/
#team{
    margin-top: 50px;
}
#team h1{
    text-align: center;
    color: orangered;
    font-weight: 600;
}
.circle li{
    list-style: none;
    margin-bottom: 30px;
}

.b{
    position: relative;
    margin-bottom: 20px;
  
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.b:hover .image {
  opacity: 0.3;
}

.b:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*testomonial*/
#myCarousel h2{
    color: orangered;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 43%;
}
.circle2 {
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 44%;
}
.circle2 h1 {
    text-align: center;
}
.circle2 p{
    text-align: center;
}
.img-circle{
    border: 100%;
    height: 100%;
}
.testo-img{
    width: 100%;
}

/*Contact us*/
#contact{
    margin-top: 50px;
}
#contact h1{
    text-align: center;
    color: orangered;
    font-weight: 600;
}


/*last*/
.lst{
    background: black url(image/7.jpg);
     background-size: cover; 
    margin-top: 50px;
    position: relative;
   
}
.lst h3{
    color: white;
    padding-bottom: 20px;
}
.lst ul li{
    list-style: none;
    margin-top: 10px;
}
.lst ul li a{
    text-decoration: none;
    color: white;
    
}


